body {
  background-color: #e1e6e4;
}

#wrapper {
  margin: 24px auto;
  width: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 5px;
  max-width: 1200px;
}

main {
  margin: 0px;
  grid-column: span 9;
}

h1 {
  font-family: mixta-didone, serif;
  font-weight: 900 !important;
  color: #867d6e !important;
  font-size: 4em !important;
}

p {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5a5a5a;
}

a {
  text-decoration: none;
}

ul li {
  vertical-align: middle;
  text-align: right;
  list-style-type: none;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}
ul li a {
  color: #799a81;
  padding: 20px;
  text-decoration: none;
  transition: background-color 1s, width 1s, color 1s;
  width: auto;
}
ul li a:hover {
  color: #4c7355;
}

#socials {
  font-size: 3em;
  text-align: center;
  grid-column: span 9;
  margin-left: 20%;
  margin-right: 20%;
}
#socials a {
  color: #bad1c6;
}
#socials a:hover {
  color: #91b4a3;
  transition: background-color 1s, width 1s, color 1s;
}
#socials p {
  color: #bad1c6;
  position: relative;
}

header {
  grid-column: span 9;
  background-color: #54514d;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.8);
}

nav {
  margin-left: -20px;
}
nav ul {
  width: 100%;
  padding: 0px;
  margin-left: 20px;
  margin-top: 25px;
}

.navbar-brand img {
  width: 180px;
  height: 70px;
}

.navbar-toggler {
  color: #867d6e !important;
}

.navbar-nav {
  gap: 12px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90px;
  margin-top: -25px;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  font-style: normal;
  margin-left: 0px;
  background-color: #466246;
  border-radius: 10px;
}
.nav-item a {
  color: #799a81;
  transition: background-color 1s, width 1s, color 1s;
  text-decoration: underline;
}
.nav-item:hover {
  background-color: #91b4a3;
  color: #4c7355;
}

h1 {
  color: #6c8c74 !important;
  font-size: 2.5em !important;
}

/* contact form */
div#form_sample {
  background-color: #acc6ba;
  text-align: center;
  padding: 15px 50px 15px;
  margin-top: 20px;
  border-radius: 16px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: century-gothic, sans-serif;
}

label {
  float: left;
  font-size: 20px;
  color: #6c8c74;
  font-weight: bold;
}

input[type=text] {
  font-family: century-gothic, sans-serif;
  width: 100%;
  margin-top: 10px;
  height: 35px;
  margin-bottom: 25px;
  padding: 10px;
  border: 3px solid #91b4a3;
  border-radius: 16px;
}

textarea {
  font-family: century-gothic, sans-serif;
  width: 100%;
  border: 3px solid #91b4a3;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 10px;
  height: 150px;
  resize: none;
  border-radius: 16px;
}

input[type=submit] {
  font-family: century-gothic, sans-serif;
  width: 100%;
  padding: 10px 45px;
  background-color: #91b4a3;
  border: none;
  color: #6c8c74;
  font-size: 22px;
  font-weight: 700;
  border-radius: 16px;
  cursor: pointer;
}/*# sourceMappingURL=contact.css.map */