// color pallette
$color-bg: #e1e6e4;
$color-header: #54514d;
$color-nav: #466246;
$color-accent: #799a81;
$color-accent-hover: #4c7355;
$color-btn: #867d6e;

// font variables
$font-main: century-gothic, sans-serif;
$font-title: mixta-didone, serif;