@charset "UTF-8";
body {
  background-color: #e1e6e4;
}

#wrapper {
  margin: 24px auto;
  width: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 5px;
}

header {
  grid-column: span 9;
}

nav {
  margin-left: -20px;
}
nav ul {
  width: 100%;
  padding: 0px;
  margin-left: 20px;
  margin-top: 25px;
}
.navbar-brand img {
  width: 180px;
  margin-left: -15px;
  height: 70px;
}
.navbar-toggler {
  color: #867d6e !important;
}
.nav-item {
  width: 100%;
  text-align: center;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  font-style: normal;
  display: inline-block;
  margin-left: 0px;
}
.nav-item a {
  color: #799a81;
  transition: background-color 1s, width 1s, color 1s;
  text-decoration: underline;
}
.nav-item a:hover {
  background-color: #91b4a3;
  color: #4c7355;
}

.hiddenMenu {
  position: fixed;
  z-index: 100;
  background-color: #92be8a;
  font-family: mixta-didone, serif;
  font-weight: 900 !important;
  font-style: normal;
  color: #000000;
  font-size: 20px !important;
  width: 200px;
  height: 50%;
  border-radius: 9%;
  top: 200px;
  left: -100px;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
}
.hiddenMenu:hover {
  left: 80px;
}

h4 {
  font-family: century-gothic, sans-serif;
  font-weight: 700 !important;
}

.hiddenMenu ul {
  margin-left: -25px;
  list-style-type: none;
}

.hiddenMenu ul li a {
  transition: width 1s, color 1s;
  color: #e4e7e4;
  text-decoration: none;
}

.hiddenMenu ul li a:hover {
  color: #466246;
  text-decoration: none;
}

#innerHidden {
  width: 100%;
  margin: 3% auto;
  text-align: center;
}

#jump-btn {
  position: absolute;
  left: 55%;
  background-color: #92be8a;
  padding: 9px 15px;
  border-radius: 9%;
  border: 0px;
  margin: 50px 41%;
  height: 15%;
}

button:hover {
  box-shadow: initial;
}

.hidden {
  left: 80px;
  z-index: 100;
}

main {
  margin: 0px;
  grid-column: span 9;
}

main div img {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-family: century-gothic, sans-serif;
  color: #799a81 !important;
  font-weight: 900 !important;
}

h2 {
  margin-top: auto;
  font-family: mixta-didone, serif;
  font-weight: 900 !important;
  font-style: normal;
  color: #867d6e !important;
  font-size: 4rem !important;
}

p {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5a5a5a;
  font-size: auto;
}

a {
  text-decoration: none;
}

.carousel {
  display: block;
  font-size: 0;
  padding: 8px;
  max-width: 95%;
  transform: translateZ(0);
  height: 550px;
  -webkit-overflow-scrolling: touch;
  /* for tablets */
  /*  scrollbar */
}
.carousel h2 {
  margin-bottom: -200px;
}
.touch .carousel {
  overflow: auto;
}
.carousel[data-at*="left"] > .wrap::before {
  opacity: 1;
  text-indent: -50px;
}
.carousel[data-at*="right"] > .wrap::after {
  opacity: 1;
  text-indent: -50px;
}
.carousel::after {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 4;
  bottom: -4px;
  left: 0;
  background: #5a5a5a;
  height: 4px;
  border-radius: 4px;
  opacity: 0;
  width: var(--scrollWidth, 0);
  left: var(--scrollLleft, 0);
  transition: opacity 0.2s, bottom 0.2s;
}
.carousel:hover::after {
  opacity: 1;
  bottom: -10px;
}
.carousel > .wrap {
  overflow: hidden;
  border-radius: -3px;
}
.carousel > .wrap::before,
.carousel > .wrap::after {
  content: "‹";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 50px;
  font-size: 80px;
  text-indent: -30px;
  line-height: 550px;
  font-family: monospace;
  color: #555;
  font-weight: bold;
  border-radius: 1px;
  pointer-events: none;
  transition: 0.2s ease-out;
  background: linear-gradient(to right, white 20%, transparent);
}
.carousel > .wrap::after {
  transform: rotate(180deg);
  left: auto;
  right: 0;
}
.carousel > .wrap > ul {
  list-style: none;
  white-space: nowrap;
  height: 550px;
}
.carousel > .wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 0 0 5px;
  position: relative;
  overflow: hidden;
  transition: 0.25s ease-out;
}
.carousel > .wrap > ul > li:first-child {
  margin: 0;
}
.carousel > .wrap > ul > li > img {
  display: block;
  height: auto;
  margin: auto;
  padding: 25px;
  position: relative;
  z-index: 1;
  transition: 1s ease;
}
.carousel > .wrap > ul > li .card_img {
  margin-top: 100px;
}
.carousel > .wrap > ul > li .trash_img {
  margin-top: 80px;
}
.carousel > .wrap > ul > li .pool_img {
  margin-top: -75px;
}
.carousel > .wrap > ul > li .room_img {
  margin-top: 100px;
}
.carousel > .wrap > ul > li .pot_img {
  margin-top: 50px;
  margin-left: -50px;
}
.carousel > .wrap > ul > li .lamps_img {
  margin-top: 75px;
  margin-left: -50px;
}
.carousel > .wrap > ul > li .kins_img {
  margin-top: -30px;
}
.carousel > .wrap > ul > li .rest_img {
  margin-top: 70px;
}
.carousel > .wrap > ul > li .pb_img {
  margin-top: 50px;
  margin-left: -70px;
}
.carousel > .wrap > ul > li .cover_img {
  margin-top: 120px;
  margin-left: -10px;
}
.carousel > .wrap > ul > li .sc_img {
  margin-top: 30px;
}
.carousel > .wrap > ul > li:hover img {
  transform: scale(1.1);
}

/* s1 */
.card_img {
  width: 300px;
  height: 200px;
}

.trash_img,
.lamps_img,
.rest_img {
  width: 350px;
  height: auto;
}

.shelf_img,
.pool_img,
.room_img,
.cover_img {
  width: 300px;
  height: auto;
}

.pot_img {
  width: 400px;
  height: auto;
}

.kins_img,
.sc_img {
  width: 500px;
  height: auto;
}

.pb_img {
  width: 450px;
  height: auto;
}

#code_display {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 500px;
}

#c_frames {
  grid-column: span 12;
  position: relative;
}

.buttons {
  display: grid;
  grid-row-gap: 20px;
}

.buttons h2 {
  margin-top: 2%;
  font-size: 4rem !important;
}

.buttons button {
  border: 2px #625c51 solid;
  margin-left: 3%;
  width: 250px;
  background-color: #867d6e;
  color: #e4e7e4;
  display: block;
  padding: 5px;
  text-decoration: none;
  font-family: century-gothic, sans-serif;
  font-weight: 900;
  transition: background-color 1s, width 1s, color 1s;
  border-radius: 10px;
  height: 60px;
}

.buttons button:hover {
  background-color: #625c51 !important;
}

.descriptions {
  margin-bottom: 100px;
  margin-top: 55px;
  text-align: left;
  font-family: mixta-didone, serif !important;
}

.h-650 {
  height: 650px;
}

.descriptions h3 {
  margin-top: 10%;
  font-size: 45px;
}

.descriptions p {
  font-size: 25px !important;
  margin-right: 5%;
}

.descriptions p i {
  color: #58735f;
  font-size: 20px;
}

#description2,
#description3 {
  margin-top: -65px;
  opacity: 0;
}

.page_link li {
  list-style-type: none;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: right;
}

.page_link li a {
  color: #799a81;
  text-decoration: none;
  transition: background-color 1s, width 1s, color 1s;
  width: auto;
}

.page_link li a:hover {
  color: #4c7355;
}

#code_link {
  margin-top: 5%;
}

.frameC {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 80%;
  min-height: 500px;
  max-height: 500px;
  max-width: 800px;
  padding-bottom: 35px;
}

#fixedFrame {
  width: 72%;
  height: 87%;
  position: relative;
  left: 14%;
  top: 10%;
  max-height: 380px;
  max-width: 650px;
}

.wrap2 {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -10px;
}

#star {
  transform: scale(0.68);
  width: 180% !important;
  height: 145% !important;
  position: absolute;
  left: -40%;
  top: -90px;
  opacity: 1;
  z-index: 1;
}

#btn1 {
  background-color: #625c51;
}

#wrapBloom {
  opacity: 0;
  background-color: #afdaed;
}

#cali {
  transform: scale(0.72);
  width: 330% !important;
  height: 165% !important;
  position: absolute;
  left: -180%;
  top: -165px;
  opacity: 0;
  z-index: -2;
}

#bloom {
  transform: scale(0.42);
  width: 405% !important;
  height: 148% !important;
  position: absolute;
  left: -180%;
  top: -25px;
  opacity: 0;
}

#train {
  transform: scale(0.45);
  width: 1215px !important;
  height: 250.5% !important;
  position: absolute;
  left: -252%;
  top: -320px;
  opacity: 0;
}

.video_display {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 2, 1fr;
  font-family: mixta-didone, serif !important;
}

.video_display h3 {
  font-size: 45px;
}

.video_display h2 {
  margin-left: 5%;
}

.video_display p {
  position: relative !important;
  font-size: 20px !important;
}

#clay_wrapper {
  width: 550px;
  height: 450px;
  margin-left: 50px;
  grid-column: span 1;
  grid-row: span 1/3;
  margin-bottom: 50px;
}

#cutout_wrapper {
  margin-left: 50px;
  margin-right: 20px;
  grid-column: span 2;
  grid-row: span 1/3;
}

#clay_desc {
  margin-top: 10px;
  grid-column: span 1;
  grid-row: span 2/3;
}

#final_desc {
  margin-top: 10px;
  grid-row: span 2/3;
}

.audio_display {
  width: 100%;
  font-family: mixta-didone, serif !important;
  padding-bottom: 50px;
}

.audio_display h3 {
  font-size: 35px;
}

.audio_display h2 {
  margin-left: 2%;
}

.audio_display p {
  position: relative;
  font-size: 20px !important;
}

.tablet1 {
  width: 120%;
  margin-top: 15%;
  margin-left: 15%;
  max-width: 250px;
}

.pedestal1 {
  width: 120%;
  height: 350px;
  opacity: 0;
}

.descriptionA {
  width: 280px;
  position: absolute;
  left: 8%;
}

.descriptionA p {
  margin-top: 50%;
}

.tablet2 {
  width: 120%;
  margin-top: 15%;
  margin-left: 15%;
  max-width: 250px;
}

.pedestal2 {
  width: 120%;
  opacity: 0;
}

.descriptionB {
  width: 280px;
  position: absolute;
  left: 8%;
}

.descriptionB p {
  margin-top: 50%;
}

.descriptionA ul li {
  list-style-type: none;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: right;
}

.descriptionA ul li a {
  color: #799a81;
  text-decoration: none;
  transition: background-color 1s, width 1s, color 1s;
  width: auto;
}

.descriptionA ul li a:hover {
  color: #4c7355;
}

#design_display {
  width: 100%;
  display: grid;
  grid-template-columns: 2, 1fr;
  font-family: mixta-didone, serif !important;
  margin-bottom: 10%;
}

#design_display h3 {
  position: relative;
  font-size: 50px;
}

.design_desc h4 {
  position: relative;
  color: #373f39;
  font-family: century-gothic, sans-serif;
  font-weight: 600 !important;
  font-size: 25px;
}

#design_display p {
  position: relative;
  font-size: 20px !important;
  max-width: 525px;
}

.design_desc {
  /* margin-left: 6%;
  margin-right: 30px;
  position: absolute;
  width: 45%;
  height: 80%; */
}

.design_imgs {
  /*position: absolute;
   right: 0%;
  width: 45%;
  grid-column: 2 / span 1; */
}

.design_imgs img {
  max-width: 500px;
}

#bonfire_video {
  position: absolute;
  left: 5%;
  max-width: 90%;
}

#dot1 {
  background-color: #717171;
}

.navigation-button {
  margin-top: 20%;
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot:active,
.dot:hover {
  background-color: #717171;
}

#socials {
  font-size: 100px;
  margin-right: 65px;
  text-align: center;
}

aside a {
  color: #bad1c6;
}
aside a:hover {
  color: #91b4a3;
  transition: background-color 1s, width 1s, color 1s;
}
aside p {
  color: #bad1c6;
  position: relative;
}

/* responsive */
@media (min-width: 390px) {
  #train {
    height: 380.5% !important;
    left: -150%;
    top: -530px;
  }
}

@media (min-width: 480px) {
  #bloom {
    left: -140%;
  }

  .buttons {
    margin-left: 15%;
  }
}

@media (min-width: 530px) {
  #cali {
    left: -110%;
  }
  #train {
    left: -110%;
  }

}

@media (min-width: 576px) {
  .design_imgs {
    margin-top: 30%;
  }

  #bonfire_video {
    left: 50%;
    max-width: 50%;
  }
  .tablet1 {
    margin-top: 0;
    margin-left: 2%;
  }

  .descriptionA {
    position: relative;
    width: auto;
    margin-right: 5%;
  }

  .descriptionA p {
    margin-top: 0;
  }

  .descriptionB {
    margin-top: 60px;
    position: relative;
    width: auto;
    margin-right: 5%;
  }

  .descriptionB p {
    margin-top: 0;
  }

  .pedestal1 {
    opacity: 1;
    height: auto;
  }

  .tablet2 {
    margin-top: 60px;
    margin-left: 2%;
  }

  .pedestal2 {
    opacity: 1;
  }
}

@media (min-width: 620px) {
  #bloom {
    left: -115%;
  }
}

@media (min-width: 650px) {
  p {
    font-size: 1.5em;
  }
  main ul {
    font-size: 1.5em;
  }

  .nav-item {
    font-size: 1.5em;
  }
  #train {
    left: -95%;
  }
}

@media (min-width: 690px) {
  #train {
    left: -75%;
  }
}

@media (min-width: 730px) {
  #train {
    left: -70%;
  }
}

@media (min-width: 768px) {
  #fixedFrame {
    width: 73%;
    height: 79%;
    left: 14%;
    top: 12%;
  }

  .buttons {
    margin-left: 15%;
  }

  .descriptions h3 {
    margin-top: 0;
  }

  .h-650 {
    height: 450;
  }

  #cali {
    width: 240% !important;
    left: -92%;
  }

  #bloom {
    width: 340% !important;
    left: -130%;
  }

  #train {
    transform: scale(0.3);
    left: -148%;
  }

  .descriptionA {
    margin-top: 5%;
    margin-left: 5%;
  }

  .descriptionB {
    margin-top: 15%;
    margin-left: 5%;
  }
}

@media (min-width: 844px) {
  #train {
    left: -138%;
  }
}

@media (min-width: 875px) {
  #train {
    left: -128%;
  }
}

@media (min-width: 900px) {
  #socials {
    font-size: 4em;
  }

  #bloom {
    width: 340% !important;
    left: -120%;
  }

  #train {
    transform: scale(0.35);
    left: -115%;
  }
}

@media (min-width: 992px) {
  .tablet2 {
    margin-top: 0;
  }

  .descriptionB {
    margin-top: 5%;
  }
}

@media (min-width: 1000px) {
  #bloom {
    transform: scale(0.47);
    left: -105%;
  }

  #train {
    transform: scale(0.4);
    left: -93%;
    top: -425px;
  }
}

@media (min-width: 1125px) {
  p {
    font-size: 1.75em;
  }

  #cali {
    left: -48%;
  }

  #bloom {
    transform: scale(0.55);
    left: -95%;
  }

  #train {
    transform: scale(0.485);
  }
}

@media (min-width: 1210px) {
  #train {
    transform: scale(0.55);
  }
}

@media (min-width: 1215px) {
  #train {
    transform: scale(0.525);
    left: -68%;
  }
}

@media (min-width: 1275px) {
  #train {
    transform: scale(0.535);
  }
}

@media (min-width: 1325px) {
  #cali {
    left: -40%;
  }
  #bloom {
    transform: scale(0.585);
    left: -80%;
  }
  #train {
    transform: scale(0.55);
  }
}

@media (min-width: 2265px) {
  #socials {
    margin-left: 5%;
  }
}

@media (min-width: 2700px) {
  #socials {
    margin-left: 12%;
  }
} /*# sourceMappingURL=gallerypage.css.map */
