body {
  background-color: #e1e6e4;
}

#wrapper {
  margin: 24px auto;
  width: auto;
  padding: 24px;
  background-color: #e1e6e4;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 12px;
  margin-top: -24px;
  margin-bottom: -200px;
}

header {
  grid-column: span 9;
}

nav ul a img {
  width: 100%;
  margin-top: 20%;
  margin-left: 15px;
  height: 50px;
  max-width: 120px;
}

nav {
  grid-column: span 9;
  position: relative;
  margin-left: -20px;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  margin-bottom: 1rem;
  list-style-type: none;
  width: 100%;
  padding: 0px;
}
nav ul li {
  vertical-align: middle;
  line-height: 50px;
  text-align: center;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 0.6em;
  font-style: normal;
  display: inline-block;
}
nav ul li a {
  background-color: #bad1c6;
  color: #799a81;
  display: block;
  padding: 5px;
  text-decoration: none;
  transition: background-color 1s, width 1s, color 1s;
  width: 160%;
  border-radius: 10px;
  max-width: 120px;
  height: 50px;
}
nav li a:hover {
  background-color: #91b4a3;
  color: #4c7355;
}

.circle {
  position: absolute;
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 650px;
  margin-top: -2%;
  margin-left: -25px;
  opacity: 0;
}

#socials {
  font-size: 3em;
  text-align: center;
  grid-column: span 9;
  margin-left: 20%;
  margin-right: 20%;
}
aside a {
  color: #bad1c6;
}
aside a:hover {
  color: #91b4a3;
  transition: background-color 1s, width 1s, color 1s;
}

ul li {
  vertical-align: middle;
  text-align: right;
  list-style-type: none;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin: 20px;
}
ul li a {
  color: #799a81;
  padding: 20px;
  text-decoration: none;
  transition: background-color 1s, width 1s, color 1s;
  width: auto;
}
ul li a:hover {
  color: #4c7355;
}

main {
  padding: 0px;
  margin: 0px;
  margin-top: 40px;
  grid-column: span 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  font-style: normal;
  color: #5a5a5a;
  border: #799a81 solid 3px;
}

main h2 {
  border-bottom: 4px solid #5a5a5a;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #5a5a5a;
}

main img {
  grid-column: span 1;
  padding: 0px;
  margin-left: 1%;
  margin-top: 15%;
}

#text {
  margin-top: 1%;
  grid-column: span 3;
}

#text2 {
  grid-column: span 3;
  grid-row: 2;
  margin-top: -115px;
}

@media (min-width: 450px) {
  nav ul li {
    font-size: 0.75em;
    line-height: 50px;
  }

  nav ul a img {
    height: 55px;
  }

  nav ul li a {
    height: 60px;
  }

  #text2 {
    margin-top: -100px;
  }
}

@media (min-width: 550px) {
  nav ul a img {
    margin-top: 15%;
  }

  #text2 {
    margin-top: -90px;
  }
}

@media (min-width: 650px) {
  .circle {
    position: relative;
    opacity: 100%;
  }

  nav ul a img {
    width: 150px;
    margin-top: 12%;
    margin-left: 25%;
    height: 60px;
  }

  nav ul li {
    font-size: 1em;
  }

  nav ul li a {
    max-width: 150px;
  }

  p {
    font-size: 1.5em;
  }

  main ul {
    font-size: 1.5em;
  }

  #text2 {
    margin-top: -80px;
  }
}

@media (min-width: 785px) {
  #text {
    margin-top: 8%;
  }
  #text2 {
    margin-top: -8%;
  }
  nav ul a img {
    width: 170px;
    height: 100px;
    margin-top: 10%;
    margin-left: 6%;
    max-width: 170px;
  }
  nav ul li {
    font-size: 1.25em;
    line-height: 90px;
  }
  nav ul li a {
    height: 100px;
    max-width: 170px;
    border-radius: 15px;
  }
}

@media (min-width: 900px) {
  nav ul a img {
    width: 200px;
    max-width: 200px;
  }
  nav ul li a {
    max-width: 200px;
  }

  #socials {
    font-size: 4em;
  }
}

@media (min-width: 1000px) {
  #text {
    margin-top: 10%;
  }
  #text2 {
    margin-top: -2%;
  }
  nav ul a img {
    margin-top: 8%;
  }
  nav ul li {
    font-size: 1.55em;
  }
  nav ul li a {
    margin-left: -10%;
  }
}

@media (min-width: 1125px) {
  p {
    font-size: 1.75em;
  }

  .circle {
    margin-left: 5%;
  }

  #text {
    margin-top: 5%;
  }

  #text2 {
    margin-top: -5%;
  }

  nav ul a img {
    width: 250px;
    max-width: 250px;
    margin-top: 6%;
  }
  nav ul li a {
    max-width: 250px;
    border-radius: 20px;
  }
}

@media (min-width: 1325px) {
  nav ul a img {
    width: 300px;
    max-width: 300px;
    padding-right: 20px;
  }

  nav ul li a {
    max-width: 300px;
    border-radius: 20px;
  }
}

@media (min-width: 1440px) {
  nav ul a img {
    width: 350px;
    max-width: 350px;
    padding-right: 40px;
    margin-top: 5%;
    height: 110px;
  }

  nav ul li {
    line-height: 100px;
  }

  nav ul li a {
    max-width: 350px;
    height: 110px;
    border-radius: 20px;
  }
}

@media (min-width: 1800px) {
  nav ul a img {
    width: 400px;
    max-width: 400px;
    margin-top: 4%;
    margin-left: 8%;
  }

  nav ul li {
    padding-left: 1px;
  }

  nav ul li a {
    max-width: 450px;
  }
}

@media (min-width: 2100px) {
  nav ul li {
    margin-left: -30px;
  }
}

@media (min-width: 2265px) {
  nav ul a img {
    height: 120px;
  }

  nav ul li {
    margin-left: -70px;
    line-height: 120px;
  }

  nav ul li a {
    max-width: 550px;
    height: 120px;
  }
}

@media (min-width: 2500px) {
  nav ul a img {
    margin-top: 3%;
  }

  nav ul li {
    font-size: 2em;
    margin-left: -95px;
  }

  nav ul li a {
    max-width: 600px;
    height: 120px;
  }
}

@media (min-width: 2700px) {
  nav ul a img {
    margin-top: 3%;
    height: 150px;
    max-width: 500px;
    width: 500px;
  }

  nav ul li {
    font-size: 2.5em;
    margin-left: -75px;
    line-height: 150px;
  }

  nav ul li a {
    max-width: 650px;
    height: 150px;
  }
}
