@charset "UTF-8";
body {
  background-color: #e1e6e4;
}

#wrapper {
  margin: 24px auto;
  width: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 5px;
  max-width: 1200px;
}

header {
  grid-column: span 9;
}

nav {
  margin-left: -20px;
}
nav ul {
  width: 100%;
  padding: 0px;
  margin-left: 20px;
  margin-top: 25px;
}
.navbar-brand img {
  width: 180px;
  margin-left: -15px;
  height: 70px;
}
.navbar-toggler {
  color: #867d6e !important;
}
.nav-item {
  width: 100%;
  text-align: center;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  font-style: normal;
  display: inline-block;
  margin-left: 0px;
}
.nav-item a {
  color: #799a81;
  transition: background-color 1s, width 1s, color 1s;
  text-decoration: underline;
}
.nav-item a:hover {
  background-color: #91b4a3;
  color: #4c7355;
}

h4 {
  font-family: century-gothic, sans-serif;
  font-weight: 700 !important;
}

button:hover {
  box-shadow: initial;
}

main {
  margin: 0px;
  grid-column: span 9;
}

h2 {
  margin-top: auto;
  font-family: mixta-didone, serif;
  font-weight: 900 !important;
  font-style: normal;
  color: #867d6e !important;
  font-size: 100px !important;
}

p {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5a5a5a;
  font-size: auto;
  position: absolute;
}

a {
  text-decoration: none;
}

#socials {
  font-size: 100px;
  margin-right: 65px;
  text-align: center;
}
aside a {
  color: #bad1c6;
}
aside a:hover {
  color: #91b4a3;
  transition: background-color 1s, width 1s, color 1s;
}
aside p {
  color: #bad1c6;
  position: relative;
}

/* contact form */
div#form_sample {
  background-color: #acc6ba;
  text-align: center;
  padding: 15px 50px 15px;
  margin-top: 20px;
  border-radius: 16px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: century-gothic, sans-serif;
}

h1 {
  font-family: mixta-didone, sans-serif !important;
  font-weight: 900 !important;
  margin-top: 30px;
  color: #6c8c74 !important;
  font-size: 2.5rem;
  border-bottom: 0px;
  margin-bottom: 10px;
}

label {
  float: left;
  font-size: 20px;
  color: #6c8c74;
  font-weight: bold;
}

input[type="text"] {
  font-family: century-gothic, sans-serif;
  width: 100%;
  margin-top: 10px;
  height: 35px;
  margin-bottom: 25px;
  padding: 10px;
  border: 3px solid #91b4a3;
  border-radius: 16px;
}

textarea {
  font-family: century-gothic, sans-serif;
  width: 100%;
  border: 3px solid #91b4a3;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 10px;
  height: 150px;
  resize: none;
  border-radius: 16px;
}

input[type="submit"] {
  font-family: century-gothic, sans-serif;
  width: 100%;
  padding: 10px 45px;
  background-color: #91b4a3;
  border: none;
  color: #6c8c74;
  font-size: 22px;
  font-weight: 700;
  border-radius: 16px;
  cursor: pointer;
}

.fancybox__caption {
  font-family: century-gothic, sans-serif;
  text-align: center;
}

/* responsive */
@media (min-width: 650px) {
  p {
    font-size: 1.5em;
  }
  main ul {
    font-size: 1.5em;
  }

  .nav-item {
    font-size: 1.5em;
  }
}

@media (min-width: 900px) {
  #socials {
    font-size: 4em;
  }
}
@media (min-width: 1125px) {
  p {
    font-size: 1.75em;
  }
}

@media (min-width: 1530px) {
  #fixedFrame {
    left: 12.5%;
  }
}

@media (min-width: 2265px) {
  div#form_sample {
    margin-left: 15%;
  }
  #socials {
    margin-left: 5%;
  }
}

@media (min-width: 2700px) {
  div#form_sample {
    margin-left: 25%;
  }
  #socials {
    margin-left: 12%;
  }
}
