body {
  background-color: #e1e6e4;
}

// i {
//   color: #799a81;
//   font-size: 20px;
// }
// i:hover {
//   color: #62736b;
//   transition: background-color 0.5s, width 0.05s, color 0.5s;
//   cursor: pointer;
// }

#wrapper {
  margin: 24px auto;
  width: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 5px;
}

header {
  grid-column: span 9;
}

nav ul a img {
  width: 100%;
  margin-left: 15px;
  height: 50px;
  max-width: 120px;
}

nav {
  grid-column: span 9;
  width: 100%;
  position: relative;
  margin-left: -20px;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  margin-bottom: 1rem;
  list-style-type: none;
  width: 100%;
  padding: 0px;
}
nav ul li {
  margin-top: 10%;
  vertical-align: middle;
  line-height: 50px;
  text-align: center;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 0.6em;
  font-style: normal;
  display: inline-block;
}
nav ul li a {
  background-color: #bad1c6;
  color: #799a81;
  display: block;
  padding: 5px;
  text-decoration: none;
  transition:
    background-color 1s,
    width 1s,
    color 1s;
  width: 160%;
  border-radius: 10px;
  max-width: 120px;
  height: 50px;
}
nav li a:hover {
  background-color: #91b4a3;
  color: #4c7355;
}

.hiddenMenu {
  position: fixed;
  z-index: 100;
  background-color: #92be8a;
  font-family: mixta-didone, serif;
  font-weight: 900 !important;
  font-style: normal;
  color: #000000;
  font-size: 20px !important;
  width: 200px;
  height: 50%;
  // position: absolute;
  border-radius: 9%;
  top: 200px;
  left: -100px;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
}

.hiddenMenu:hover {
  left: 80px;
}

h4 {
  font-family: century-gothic, sans-serif;
  font-weight: 700 !important;
}

.hiddenMenu ul {
  margin-left: -25px;
  list-style-type: none;
}

.hiddenMenu ul li a {
  transition:
    width 1s,
    color 1s;
  color: #e4e7e4;
  text-decoration: none;
}

.hiddenMenu ul li a:hover {
  color: #466246;
  text-decoration: none;
}

#innerHidden {
  width: 100%;
  margin: 3% auto;
  text-align: center;
}

#jump-btn {
  position: absolute;
  left: 55%;
  background-color: #92be8a;
  padding: 9px 15px;
  border-radius: 9%;
  border: 0px;
  margin: 50px 41%;
  height: 15%;
}

button:hover {
  box-shadow: initial;
}

.hidden {
  left: 80px;
  z-index: 100;
}

main {
  margin: 0px;
  grid-column: span 9;
}

main div img {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

h2 {
  margin-top: auto;
  font-family: mixta-didone, serif;
  font-weight: 900 !important;
  font-style: normal;
  color: #867d6e;
  font-size: 100px !important;
}

p {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5a5a5a;
  font-size: auto;
  position: absolute;
}

a {
  text-decoration: none;
}

//other
.carousel {
  $scrollbarHeight: 4px;
  $scrollbarColor: #5a5a5a;
  $carouselHeight: 550px;
  $fadeWidth: 50px;
  $padding: 8px;
  $radius: 1px;

  display: block;
  font-size: 0;
  padding: $padding;
  max-width: 95%;
  transform: translateZ(0);
  height: $carouselHeight;
  -webkit-overflow-scrolling: touch;

  h2 {
    margin-bottom: -200px;
  }

  .touch & {
    overflow: auto;
  } /* for tablets */

  &[data-at*="left"] > .wrap {
    &::before {
      opacity: 1;
      text-indent: -50px;
    }
  }

  &[data-at*="right"] > .wrap {
    &::after {
      opacity: 1;
      text-indent: -50px;
    }
  }

  /*  scrollbar */
  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 4;
    bottom: -4px;
    left: 0;
    background: $scrollbarColor;
    height: $scrollbarHeight;
    border-radius: $scrollbarHeight;
    opacity: 0;
    width: var(--scrollWidth, 0);
    left: var(--scrollLleft, 0);
    transition:
      opacity 0.2s,
      bottom 0.2s;
  }

  &:hover {
    &::after {
      opacity: 1;
      bottom: -10px;
    }
  }

  > .wrap {
    overflow: hidden;
    border-radius: $radius - calc($padding / 2);

    &::before,
    &::after {
      content: "\2039";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: $fadeWidth;
      font-size: 80px;
      text-indent: -30px;
      line-height: $carouselHeight;
      font-family: monospace;
      color: #555;
      font-weight: bold;
      border-radius: $radius;
      pointer-events: none;
      transition: 0.2s ease-out;
      background: linear-gradient(to right, white 20%, transparent);
    }

    &::after {
      transform: rotate(180deg);
      left: auto;
      right: 0;
    }

    > ul {
      list-style: none;
      white-space: nowrap;
      height: $carouselHeight;

      > li {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin: 0 0 0 5px;
        position: relative;
        overflow: hidden;
        transition: 0.25s ease-out;
        &:first-child {
          margin: 0;
        }

        > img {
          display: block;
          height: auto;
          margin: auto;
          padding: 25px;
          position: relative;
          z-index: 1;
          transition: 1s ease;
        }
        .card_img {
          margin-top: 100px;
        }
        .trash_img {
          margin-top: 80px;
        }
        .pool_img {
          margin-top: -75px;
        }
        .room_img {
          margin-top: 100px;
        }
        .pot_img {
          margin-top: 50px;
          margin-left: -50px;
        }
        .lamps_img {
          margin-top: 75px;
          margin-left: -50px;
        }
        .kins_img {
          margin-top: -30px;
        }
        .rest_img {
          margin-top: 70px;
        }
        .pb_img {
          margin-top: 50px;
          margin-left: -70px;
        }
        .cover_img {
          margin-top: 120px;
          margin-left: -10px;
        }
        .sc_img {
          margin-top: 30px;
        }

        &:hover img {
          transform: scale(1.1);
        }
      }
    }
  }
}
/* s1 */
.card_img {
  width: 300px;
  height: 200px;
}

.trash_img,
.lamps_img,
.rest_img {
  width: 350px;
  height: auto;
}

.shelf_img,
.pool_img,
.room_img,
.cover_img {
  width: 300px;
  height: auto;
}

.pot_img {
  width: 400px;
  height: auto;
}

.kins_img,
.sc_img {
  width: 500px;
  height: auto;
}

.pb_img {
  width: 450px;
  height: auto;
}

//Codee section
#code_display {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
#c_frames {
  grid-column: span 6;
}
.buttons {
  padding-top: 60px;
  grid-column: span 3;
  display: grid;
  grid-template-rows: (3, 1fr);
  grid-row-gap: 20px;
}

.buttons h2 {
  margin-left: 25%;
}
.buttons button {
  border: 2px #625c51 solid;
  margin-left: 20%;
  width: 250px;
  background-color: #867d6e;
  color: #e4e7e4;
  display: block;
  padding: 5px;
  text-decoration: none;
  font-family: century-gothic, sans-serif;
  font-weight: 900;
  transition:
    background-color 1s,
    width 1s,
    color 1s;
  border-radius: 10px;
  height: 60px;
}

.buttons button:hover {
  background-color: #625c51 !important;
}
.descriptions {
  margin-bottom: 350px;
  margin-left: 5%;
  margin-top: 55px;
  text-align: left;
  font-family: mixta-didone, serif !important;
}

.descriptions h3 {
  color: #799a81;
  font-weight: 900 !important;
  font-size: 45px;
}
.descriptions p {
  font-size: 25px !important;
  margin-right: 5%;
}
.descriptions p i {
  color: #58735f;
  font-size: 20px;
}

#description2,
#description3 {
  margin-top: -65px;
  opacity: 0;
}

.frameC {
  position: absolute;
  left: 5%;
  width: 60%;
  height: 80%;
  min-height: 500px;
  max-height: 500px;
  max-width: 800px;
  padding-bottom: 35px;
}

#fixedFrame {
  width: 76%;
  height: 87%;
  position: relative;
  left: 13.5%;
  top: 10%;
  max-height: 380px;
  max-width: 650px;
}

.wrap2 {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

#cali {
  transform: scale(0.72);
  width: 180% !important;
  height: 165% !important;
  position: absolute;
  left: -52%;
  top: -165px;
  opacity: 0;
}

#btn1 {
  background-color: #625c51;
}
#wrapBloom {
  opacity: 1;
}

#bloom {
  transform: scale(0.42);
  width: 245% !important;
  height: 130% !important;
  position: absolute;
  left: -70%;
  top: 25px;
}

//trains
#train {
  transform: scale(0.45);
  width: 1215px !important;
  height: 296.5% !important;
  position: absolute;
  left: -72%;
  top: -320px;
  opacity: 0;
}

//video section
.video_display {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: (2, 1fr);
  grid-template-rows: (2, 1fr);
  font-family: mixta-didone, serif !important;
}

.video_display h3 {
  color: #799a81;
  font-weight: 900 !important;
  font-size: 45px;
}

.video_display h2 {
  margin-left: 5%;
}
.video_display p {
  position: relative !important;
  font-size: 20px !important;
}

#clay_wrapper {
  width: 550px;
  height: 450px;
  margin-left: 50px;
  grid-column: span 1;
  grid-row: span 1/3;
  margin-bottom: 50px;
}

#cutout_wrapper {
  margin-left: 50px;
  margin-right: 20px;
  grid-column: span 2;
  grid-row: span 1/3;
}

#clay_desc {
  margin-top: 10px;
  grid-column: span 1;
  grid-row: span 2 / 3;
}

#final_desc {
  margin-top: 10px;
  grid-row: span 2 / 3;
}

.audio_display {
  width: 100%;
  display: grid;
  grid-template-columns: (4, 1fr);
  font-family: mixta-didone, serif !important;
  padding-bottom: 50px;
}

.audio_display h3 {
  color: #799a81;
  font-weight: 900 !important;
  font-size: 35px;
}

.audio_display h2 {
  margin-left: 5%;
}

.audio_display p {
  position: relative;
  font-size: 20px !important;
}

.tablet1 {
  margin-left: 30px;
  position: relative;
  width: 250px;
  grid-column: 1 / span 1;
}
.pedestal1 {
  width: 200px;
  margin-left: 50px;
  grid-column: 1 / span 1;
}

.descriptionA {
  margin-top: -130px;
  margin-right: 0px;
  width: 280px;
  grid-column: 2 / span 1;
}

.tablet2 {
  margin-top: -160px;
  width: 250px;
  max-height: 160px;
  grid-column: 3 / span 1;
}
.pedestal2 {
  margin-top: -320px;
  margin-left: 20px;
  width: 200px;
  height: 320px;
  grid-column: 3 / span 1;
}

.descriptionB {
  margin-top: -450px;
  margin-right: 25px;
  grid-column: 4 / span 1;
}

.descriptionA ul li {
  list-style-type: none;
  font-family: century-gothic, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: right;
}
.descriptionA ul li a {
  color: #799a81;
  text-decoration: none;
  transition:
    background-color 1s,
    width 1s,
    color 1s;
  width: auto;
}
.descriptionA ul li a:hover {
  color: #4c7355;
}

//design
#design_display {
  width: 100%;
  display: grid;
  grid-template-columns: (2, 1fr);
  font-family: mixta-didone, serif !important;
  margin-bottom: 575px;
}

#design_display h3 {
  color: #799a81;
  position: relative;
  font-weight: 900 !important;
  font-size: 50px;
  font-family: century-gothic, sans-serif;
  // margin-left: 6%;
}

.design_desc h4 {
  // margin-left: 5%;
  position: relative;
  color: #373f39;
  font-family: century-gothic, sans-serif;
  font-weight: 600 !important;
  font-size: 25px;
}

#design_display p {
  position: relative;
  font-size: 20px !important;
  // margin-left: 6%;
}

.design_desc {
  margin-left: 6%;
  margin-right: 30px;
  position: absolute;
  width: 45%;
  height: 80%;
}
.design_imgs {
  position: absolute;
  right: 0%;
  width: 45%;
  grid-column: 2 / span 1;
}

.design_imgs img {
  max-width: 500px;
}

#dot1 {
  background-color: #717171;
}

.navigation-button {
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot:active,
.dot:hover {
  background-color: #717171;
}

// socials
#socials {
  font-size: 100px;
  margin-right: 65px;
  text-align: center;
}
aside a {
  color: #bad1c6;
}
aside a:hover {
  color: #91b4a3;
  transition:
    background-color 1s,
    width 1s,
    color 1s;
}

/* responsive */
@media (min-width: 450px) {
  nav ul li {
    font-size: 0.75em;
    line-height: 50px;
  }

  nav ul a img {
    height: 55px;
  }

  nav ul li a {
    height: 60px;
  }
}

@media (min-width: 550px) {
  nav ul a img {
    margin-top: 15%;
  }
}

@media (min-width: 650px) {
  nav ul a img {
    width: 150px;
    margin-top: 12%;
    margin-left: 25%;
    height: 60px;
  }

  nav ul li {
    font-size: 1em;
  }

  nav ul li a {
    max-width: 150px;
  }

  p {
    font-size: 1.5em;
  }

  main ul {
    font-size: 1.5em;
  }
}

@media (min-width: 785px) {
  nav ul a img {
    width: 170px;
    height: 100px;
    margin-top: 10%;
    margin-left: 6%;
    max-width: 170px;
  }
  nav ul li {
    font-size: 1.25em;
    line-height: 100px;
  }
  nav ul li a {
    height: 100px;
    max-width: 170px;
    border-radius: 15px;
  }
}

@media (min-width: 900px) {
  nav ul a img {
    width: 200px;
    max-width: 200px;
  }
  nav ul li a {
    max-width: 200px;
  }

  #socials {
    font-size: 4em;
  }
}

@media (min-width: 1000px) {
  nav ul a img {
    margin-top: 8%;
  }
  nav ul li {
    font-size: 1.55em;
  }
  nav ul li a {
    margin-top: -4%;
    margin-left: 4%;
  }
  #bloom {
    transform: scale(0.47);
    left: -65%;
  }
  #train {
    left: -72%;
  }
}
@media (min-width: 1050px) {
  #train {
    left: -61%;
  }
}

@media (min-width: 1125px) {
  p {
    font-size: 1.75em;
  }

  nav ul a img {
    width: 250px;
    max-width: 250px;
    margin-top: 6%;
  }
  nav ul li a {
    max-width: 250px;
    border-radius: 20px;
  }
  #cali {
    left: -48%;
  }
  #bloom {
    transform: scale(0.55);
    left: -55%;
  }
  #train {
    transform: scale(0.485);
    left: -60%;
  }
}

@media (min-width: 1150px) {
  #train {
    left: -53%;
  }
}

@media (min-width: 1210px) {
  #train {
    transform: scale(0.55);
    left: -52%;
  }
}

@media (min-width: 1215px) {
  #train {
    transform: scale(0.525);
    left: -48%;
  }
}

@media (min-width: 1275px) {
  #train {
    transform: scale(0.535);
    left: -44%;
  }
}

@media (min-width: 1325px) {
  nav ul a img {
    width: 300px;
    max-width: 300px;
    padding-right: 20px;
  }

  nav ul li a {
    max-width: 300px;
    border-radius: 20px;
  }
  #cali {
    left: -40%;
  }
  #bloom {
    transform: scale(0.585);
    left: -50%;
  }
  #train {
    transform: scale(0.55);
    left: -42%;
  }
}

@media (min-width: 1440px) {
  nav ul a img {
    width: 350px;
    max-width: 350px;
    padding-right: 40px;
    margin-top: 5%;
    height: 110px;
  }

  nav ul li {
    line-height: 110px;
  }

  nav ul li a {
    max-width: 350px;
    height: 110px;
    border-radius: 20px;
  }
}

@media (min-width: 1530px) {
  #fixedFrame {
    left: 12.5%;
  }
}

@media (min-width: 1800px) {
  nav ul a img {
    width: 400px;
    max-width: 400px;
    margin-top: 4%;
    margin-left: 8%;
  }

  nav ul li {
    padding-left: 1px;
  }

  nav ul li a {
    margin-top: -7%;
    max-width: 400px;
  }
}

@media (min-width: 2100px) {
  nav ul li {
    margin-left: -30px;
  }
}

@media (min-width: 2265px) {
  nav ul a img {
    height: 120px;
  }

  nav ul li {
    margin-left: -70px;
    line-height: 120px;
  }

  nav ul li a {
    max-width: 550px;
    height: 120px;
    margin-top: -5%;
  }

  div#form_sample {
    margin-left: 15%;
  }

  #socials {
    margin-left: 5%;
  }
}

@media (min-width: 2500px) {
  nav ul a img {
    margin-top: 3%;
  }

  nav ul li {
    font-size: 2em;
    margin-left: -95px;
  }

  nav ul li a {
    max-width: 600px;
    margin-top: -7%;
  }
}

@media (min-width: 2700px) {
  nav ul a img {
    margin-top: 3%;
    height: 150px;
    max-width: 500px;
    width: 500px;
  }

  nav ul li {
    font-size: 2.5em;
    margin-left: -75px;
    line-height: 150px;
  }

  nav ul li a {
    max-width: 650px;
    height: 150px;
  }

  div#form_sample {
    margin-left: 25%;
  }

  #socials {
    margin-left: 12%;
  }
}
